<br/>

<div class="row">
    <% @courses.each do |course| %>
        <div class="m4">
            <div class="card">
                <div class="card-image">
                   <%= link_to course do %>
                        <%= image_tag "courses/#{course.cover}"%>
                   <%end%>
                </div>
                <div class="card-content">
                  <span class="card-title"><%= course.title%></span>
                        <% (1..course.star_number).each do %>
                        <i class="material-icons blue-text">grade</i>
                        <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>